/** toolbar */
:host /deep/ core-toolbar {
}

/** main content */
:host /deep/ core-header-panel[main] {
  background-color: #fff;
}
.content {
  padding: 20px;
}

/** sidebar */
:host /deep/ core-header-panel[navigation] {
}
:host /deep/ core-header-panel[navigation] core-item {
  padding: 2px 12px;
  line-height: 40px;
}
:host /deep/ core-header-panel[navigation] a:not(:first-of-type) core-item {
  border-top: 1px solid #f5f5f5;
}
:host /deep/ core-header-panel[navigation] a {
  color: #555;
  text-decoration: none;
}
:host /deep/ core-header-panel[navigation] a:hover core-item,
:host /deep/ core-header-panel[navigation] a:focus core-item {
  background-color: #fcfcfc;
  color: #222;
  border-right: 6px solid #f5f5f5;
}
:host /deep/ core-header-panel[navigation] a[active] core-item {
  border-right: 6px solid #f5f5f5;
}
